<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Login Register Exercise Web App</display-name>
	<welcome-file-list>
		<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
	</welcome-file-list>
	<listener>
	<listener-class>com.fdmgroup.loginregisterexercise.listener.ApplicationListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>SetUser</servlet-name>
		<servlet-class>com.fdmgroup.loginregisterexercise.servlets.SetUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetUser</servlet-name>
		<url-pattern>/SetUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>com.fdmgroup.loginregisterexercise.servlets.GetUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/GetUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InvalidateSession</servlet-name>
		<servlet-class>com.fdmgroup.loginregisterexercise.servlets.InvalidateSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvalidateSession</servlet-name>
		<url-pattern>/InvalidateSession</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Redirect</servlet-name>
		<jsp-file>/WEB-INF/views/redirect.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Redirect</servlet-name>
		<url-pattern>/redirect</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/WEB-INF/views/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<jsp-file>/WEB-INF/views/logout.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Register</servlet-name>
		<jsp-file>/WEB-INF/views/register.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>RegisterServletFilter</filter-name>
		<filter-class>com.fdmgroup.loginregisterexercise.filters.RegisterServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegisterServletFilter</filter-name>
		<url-pattern>/SetUser</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>RegisterServletUserExistsFilter</display-name>
		<filter-name>RegisterServletUserExistsFilter</filter-name>
		<filter-class>com.fdmgroup.loginregisterexercise.filters.RegisterServletUserExistsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RegisterServletUserExistsFilter</filter-name>
		<url-pattern>/SetUser</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LogInServletFilter</filter-name>
		<filter-class>com.fdmgroup.loginregisterexercise.filters.LogInServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogInServletFilter</filter-name>
		<url-pattern>/GetUser</url-pattern>
	</filter-mapping>
	<error-page>
		<exception-type>com.fdmgroup.loginregisterexercise.exceptions.IllegalParameterException</exception-type>
		<location>/WEB-INF/views/redirect.jsp</location>
	</error-page>
	<error-page>
		<exception-type>com.fdmgroup.loginregisterexercise.exceptions.UsernamePasswordDoesNotMatch</exception-type>
		<location>/WEB-INF/views/redirect.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/error404.jsp</location>
	</error-page>
</web-app>